
.main-header {
    text-align: center;        
    width: 10%;               
    margin: 0 auto;   
    margin-top: 150px;         
    display: flex;             
    justify-content: center;  
    align-items: center; 
    transition: .6s;
}


.main-header button {
    color: rgb(255, 255, 255);
    background-color: #000000;
    text-decoration: none;
    font-size: 20px;
      padding: 15px;
      width: 190px; ;
      height: 60px;
      cursor: pointer;
         border-radius: 80px;   
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.cart-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8 px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.cart-container h1 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.table-input {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-right: 4px solid #4CAF50;
}

.table-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.table-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


#cart-list {
    list-style: none;
    padding: 0;
}

#cart-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-thumb {
    width: 70px;        
    height: 70px;         
    border-radius: 5px;
    object-fit: cover;    
}


.cart-total-wrapper {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cart-total {
    color: #4CAF50;
    font-size: 1.5em;
    font-weight: bold;
}


#send-order-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

#send-order-btn:hover {
    background-color: #45a049;
}

#visa-info input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
